.navbar {
    background-color: rgb(41, 45, 62) !important;
}

.navbar a {
    color: white;
}

html[data-theme="light"] .navbar.navbar-sidebar--show a {
    color: black;
}

.navbar__brand:hover {
    color: #00e7ff;
}

.navbar svg[aria-label="Menu"] > path {
    stroke: white !important;
}

.navbar .dropdown__menu a {
    color: black;
}

.react-toggle {
    margin-right: 15px;
}

table {
    display: table;
    text-align: left;
}
  
.donate-link {
    color: black !important;
    text-decoration: none;
    background-color: #f9b372;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-flex !important;
    align-items: center;
    margin-top: 10px;
}

.theme-doc-sidebar-menu > li:last-child a {
    color: black !important;
    text-decoration: none;
    background-color: wheat;
    border-radius: 10px;
    display: flex !important;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-top: 10px;
}

.donate-bitcoin-link img, .menu > .menu__list > li:last-child a img {
    margin-right: 10px
}

.aa-DetachedSearchButton {
    display: flex;
    align-items: center;
    border-radius: 30px !important;
    height: 40px !important;
    font-size: 13px !important;
}

.aa-DetachedSearchButtonPlaceholder {
    margin-top: -1px;
    margin-right: 13px;
}

.aa-Form {
    border-radius: 25px !important;
    overflow: hidden;
}

body[data-theme="dark"] .aa-DetachedSearchButton {
    background-color: #292d3e !important;
}

body[data-theme="dark"] input {
    background-color: #292d3e !important;
}

body[data-theme="dark"] button.aa-SubmitButton {
    background-color: #292d3e !important;
}

body[data-theme="dark"] .dropdown__menu a {
    color: #fff !important;
}

.navbar__toggle svg {
    color: #fff !important;
}